@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid palevioletred; */
}

:root {
  /* Set rem to 10px*/
  font-size: 62.5%;
  font-family: 'Fira Sans','IBM Plex Sans', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: Geneva, Verdana, sans-serif; */
  height: 100vh;
  overflow: hidden;
  /* width: 100%; */
}

body {
  /* height: 100vh; */
  font-size: 1.6rem;
  color: #404040;
  background-color: #eaedf0;
  /* width: 100%; */

  /* height: 100%; */
  /* max-height: 100%; */
  /* float: left; */
  /* width: 100%; */

  display: flex;
}

.image-sidebar {
  height: 100vh;
  /* width: 40%; */
  /* flex-basis: 40vw; */
  text-align: center;
}

.image-sidebar .background {
  height: 100%;
  width: 100%;
  opacity: 90%;
  z-index: -1;
  object-fit: cover;
  object-position: 50% 50%;
}

/* .image-sidebar .icon { */
/*   width: 100%; */
/*   z-index: 1; */
/* } */

.image-sidebar p {
  width: 100%;
  font-size: 0.9rem;
  position: relative;
  bottom: 5ch;
  color: white;
  background: rgba(00, 00, 00, 0.4);
}

.image-sidebar p a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: #FBFBFB;
  flex-basis: 1.6;
  display: flex;
  flex-direction: column;
}

.formdiv {
  /* outline: 1px solid #3B586CAA; */
  box-shadow: 0px 0px 0.5rem #3B586CAA;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.textinfodiv,
.formgroup,
.submitdiv,
.formdiv p {
  font-size: 2.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  /* font-weight: bold; */
}

.formdiv p:last-child {
  margin-top: 2rem;
  font-size: 1.6rem;
}

.formdiv a {
  text-decoration: none;
  font-weight: 1000;
  color: #aa3e58;
}

.textinfodiv {
  height: 30vh;
  padding-bottom: 3rem;
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.formdiv {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* box-shadow: 0px 2px 2px 1px black; */
}

.namediv,
.contactdiv,
.passworddiv {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.formgroup {
  flex: 1;
  font-size: 1.6rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.formgroup > label {
  position: relative;
  top: -1.1rem;
  left: 1.6rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  background-color: #FFFFFF;
  z-index: 1;
}

.formgroup > input {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  /* margin-right: 2rem; */
  border: 1px solid #CCCCCC;
  border-radius: 0.5rem;
  width: 100%;
  max-height: 4rem;

  position: relative;
  font-size: 2rem;
  /* margin-left: 1rem; */
  top: -2rem;
  /* width: 90%; */
}

.formgroup > input:focus-visible {
  outline: 2px solid #CCCCCC;
  border: none;
}

.formgroup > input:valid {
  outline: 2px solid #689d6a;
  border: none;
}

/* .formgroup > input:invalid { */
/*   outline: 2px solid #cc241d; */
/*   border: none; */
/* } */

/* .formgroup :focus { */
/*   border: 1px solid #AA3E58; */
/* } */
.submitdiv button {
  border: none;
  margin-top: 2rem;
  height: 4rem;
  width: 25rem;
  color: #eaedf0;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: #FE484E;
}
.submitdiv button:hover {
  background-color: #FF5C61;
}

.submitdiv p {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.submitdiv p a {
  text-decoration: none;
  font-weight: bold;
  color: #FE484E;
}

.submitdiv p a:hover {
  color: #FF5C61;
}
